/*聊天界面*/
$chat-bg: #eeeeee;
$chat-bar__bg: #fff;
$main-color: #f6775d;
.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $chat-bg;
}
.chat-content {
  flex: 1;
  overflow: auto;
  padding: rem(20);
}
.chat-bar {
  display: flex;
  align-items: center;
  background: $chat-bar__bg;
  padding: rem(13) rem(15);
  .icon {
    margin-right: rem(15);
  }
}
.chat-input__box {
  display: flex;
  flex: 1;
  min-width: 0;
}
.chat-input {
  flex: 1;
  margin-right: rem(15);
  padding: 0 rem(10);
  min-width: 0;
}
.chat-btn {
  width: rem(160);
  height: rem(72);
  line-height: rem(72);
  border-radius: (72/2)+px;
  font-size: rem(28);
  text-align: center;
  color: #fff;
  background: $main-color;
  &:hover {
    color: #fff;
  }
}
.chat-item {
  position: relative;
  padding: 0 0 0 rem(100);
  margin-bottom: rem(30);
  .avatar {
    position: absolute;
    left: 0;
    width: rem(80);
    border-radius: rem(5);
  }
  .arrow {
    position: absolute;
    z-index: 2;
    top: rem(30);
    left: rem(-11);
    width: rem(11);
    background-image: url("../images/icon/chat-arrow.png");
    &:before {
      padding-top: (22/11)*100%;
    }
  }
  &.chat-self {
    padding: 0 rem(100) 0 0;
    text-align: right;
    .avatar {
      left: auto;
      right: 0;
    }
    .arrow {
      left: auto;
      right: rem(-11);
      background-image: url("../images/icon/chat-arrow__self.png");
    }
  }
}
.chat-msg {
  display: inline-block;
  position: relative;
  max-width: (440/585)*100%;
  text-align: justify;
  color: #222;
  font-size: rem(30);
  line-height: (40/30);
  .msg {
    display: flex;
    align-items: center;
    min-height: rem(84);
    min-width: rem(120);
    padding: rem(20);
    box-shadow: 0px 1px 1px rgba(#e7e6e6,.5);
    border-radius: rem(10);
    background: #fff;
    overflow: hidden;
    img {
      max-width: rem(270);
      max-height: rem(280);
    }
  }
  .img {
    padding: 0;
  }
  .chat-self & {
    .msg {
      background: $main-color;
      box-shadow: 0px 1px 1px rgba(#e7e6e6,.5);
      color: #fff;
    }
  }
}
.chat-time {
  text-align: center;
  color: #fff;
  font-size: rem(20);
  margin: 0 auto rem(30);
  line-height: 2;
  span {
    display: inline-block;
    background: #d2d2d2;
    padding: 0 rem(15);
    border-radius: rem(5);
  }
}