@charset "UTF-8";
.growth { min-height: 100%; padding: 0 rem(20); background: url("../images/growth-bg.png") center; background-attachment: fixed; -moz-background-size: auto 100%; background-size: auto 100%; }

.growth-template__wrap { height: 100%; padding: rem(20) rem(20); background: url("../images/growth-bg.png") center; -moz-background-size: auto 100%; background-size: auto 100%; overflow: hidden; }

.growth-template__wrap .title-label { display: block; margin-bottom: rem(20); line-height: rem(90); }

.template-item { position: relative; line-height: 1.66667; font-size: rem(24); color: #222; text-align: justify; border: 2px solid #dcdcdc; -moz-border-radius: 5px; border-radius: 5px; padding: rem(20) rem(25); margin-bottom: rem(20); overflow: hidden; }

.template-item.last { padding-right: rem(65); }

.template-item.last:before { position: absolute; right: 0; top: 0; content: '上次记录'; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; width: rem(40); height: 100%; padding: 0 rem(10); background: #dcdcdc; color: #6e6e6e; font-size: rem(20); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.template-item.on { border: 2px solid #f98063; -webkit-box-shadow: 0px 0px 5px 0px rgba(249, 128, 99, 0.3); -moz-box-shadow: 0px 0px 5px 0px rgba(249, 128, 99, 0.3); box-shadow: 0px 0px 5px 0px rgba(249, 128, 99, 0.3); }

/*日历*/
.calendar { background: #fff; padding-bottom: rem(20); }

.calendar .calendar-hd { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -moz-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; height: rem(90); }

.calendar .calendar-month { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; font-size: rem(36); color: #222222; }

.calendar .calendar-arrow { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; width: rem(90); }

.calendar .calendar-arrow .iconfont { font-size: rem(34); font-weight: bold; color: #7f7f7f; }

.calendar .calendar-week { margin-bottom: 3px; }

.calendar .calendar-week li { float: left; width: 14.28571%; text-align: center; font-size: rem(20); color: #6e6e6e; }

.calendar .calendar-date { font-size: rem(34); color: #222; }

.calendar .calendar-date .is-disabled { color: #a6a6a6; }

.calendar .calendar-date .active .text { background: #f98063; color: #fff; }

.calendar .calendar-date li { float: left; width: 14.28571%; }

.calendar .calendar-date .date-item { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; position: relative; width: 100%; text-align: center; height: rem(90); max-width: rem(90); }

.calendar .calendar-date .date-item .i-star { position: absolute; z-index: 2; right: rem(-10); top: 0; width: rem(46); }

.calendar .calendar-date .text { width: rem(60); height: rem(60); -moz-border-radius: 2px; border-radius: 2px; }

/*创建成长档案*/
.growth-create { min-height: 100%; background: url("../images/growth-bg2.jpg") center; background-attachment: fixed; -moz-background-size: auto 100%; background-size: auto 100%; padding: rem(20); font-size: rem(28); }

.growth-create .growth-ft { padding: 0 rem(20); margin-bottom: rem(20); }

.growth-inner { background: rgba(255, 255, 255, 0.75); padding: rem(20); -moz-border-radius: rem(5); border-radius: rem(5); }

.growth-arrow { position: absolute; top: 0; left: 100%; width: rem(20); background: url("../images/icon/growth-arrow.png"); -moz-background-size: 100% 100%; background-size: 100% 100%; }

.growth-arrow:before { content: ''; display: block; padding-top: 295%; }

.growth-title { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; width: rem(210); height: rem(60); margin: 0 auto rem(25); background: #f47960; font-size: rem(30); color: #fff; }

.growth-title .icon { margin-right: rem(25); }

.growth-tb { border: 1px solid #dcdcdc; -moz-border-radius: 5px; border-radius: 5px; margin-bottom: rem(40); background: #fff; }

.growth-tb__item { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; height: rem(90); border-top: 1px solid #dcdcdc; }

.growth-tb__item:first-child { border-top: none; }

.growth-tb__item .growth-tb__hd { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; width: rem(300); }

.growth-tb__item .growth-tb__bd { -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; border-left: 1px solid #dcdcdc; }

.growth-tb__text { -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: auto; padding: 0 rem(25) rem(30); }

.growth-tb__text .growth-tb__hd { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; height: rem(80); }

.growth-tb__text .growth-tb__bd { -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: auto; flex: auto; border: none; }

.growth-tb__text .btn-line { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; height: rem(56); padding: 0 rem(25); font-size: rem(24); color: #f98063; -moz-border-radius: rem(28); border-radius: rem(28); border: 1px solid #f98063; }

.growth-tb__text .growth-tb__textarea { display: block; border: none; background: transparent; font-size: rem(24); height: rem(150); }

.growth-template { background: #fff; height: 100%; padding: 0 rem(20) 1px; margin-bottom: rem(20); -moz-border-radius: 5px; border-radius: 5px; overflow-y: auto; }

.growth-tops { font-size: rem(24); border: 2px dashed #f98063; color: #f98063; padding: rem(20) rem(40); margin-top: rem(40); line-height: 2.5; }

.growth-tops .icon { width: rem(40); vertical-align: middle; }
