.icon {
  display: inline-block;
  width: 50px;
  background: no-repeat center;
  background-size: cover;
  &:before {
	content: '';
	display: block;
	padding-top: 100%;
  }
}
.i-voice {
  width: rem(52);
  background-image: url("../images/icon/voice.png");
}
.i-img {
  width: rem(52);
  background-image: url("../images/icon/img.png");
}
.i-come {
  width: rem(106);
  background-image: url("../images/icon/come.png");
  &:before {
	padding-top: (76/106)*100%;
  }
}
.i-leave {
  width: rem(106);
  background-image: url("../images/icon/leave.png");
  &:before {
	padding-top: (76/106)*100%;
  }
}
.i-profile__change {
  background-image: url("../images/icon/i-profile__change.png");
}
.i-profile__edit {
  background-image: url("../images/icon/i-profile__edit.png");
}
.i-profile__phone {
  background-image: url("../images/icon/i-profile__phone.png");
}
.i-profile__unbind {
  background-image: url("../images/icon/i-profile__unbind.png");
}

.i-home {
  width: rem(40);
  background-image: url("../images/icon/home.png");
  &:before {
    padding-top: (25/40)*100%;
  }
}
.i-school {
  width: rem(32);
  background-image: url("../images/icon/school.png");
}

.i-star {
  background: url("../images/icon/star.png") center no-repeat;
  background-position: 0 100%;
  background-size: 100% auto;
  &.on {
    background-position: 0 0%;
  }
}
.i-search {
  width: rem(42);
  background-image: url("../images/icon/search.png");
  &:before {
    padding-top: (40/42)*100%;
  }
}
.i-write {
  width: rem(40);
  background-image: url("../images/icon/write.png");
}
.i-deer {
  width: rem(40);
  background-image: url("../images/icon/deer.png");
  &:before {
    padding-top: (548/371)*100%;
  }
}