.icon {
  display: inline-block;
  width: 50px;
  background: no-repeat center;
  background-size: cover;
  &:before {
	content: '';
	display: block;
	padding-top: 100%;
  }
}
.i-voice {
  width: rem(52);
  background-image: url("../images/icon/voice.png");
}
.i-img {
  width: rem(52);
  background-image: url("../images/icon/img.png");
}
.i-come {
  width: rem(106);
  background-image: url("../images/icon/come.png");
  &:before {
	padding-top: (76/106)*100%;
  }
}
.i-leave {
  width: rem(106);
  background-image: url("../images/icon/leave.png");
  &:before {
	padding-top: (76/106)*100%;
  }
}