@import "weui.min";
@import "jquery-weui.min";
@function rem($px) {
  @return ($px /25.6)*(480/720)  * 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0 auto;
}
textarea {
  width: 100%;
  resize: none;
}
input,button {
  outline: 0;
  &:focus {
    outline: 0;
  }
}
button {
  cursor: pointer;
}
ul,ol{
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color:inherit;
  }
  &:focus {
    @extend a:hover;
    outline: none;
  }
}
html {
  background: #f6f6f6;
}
html,body {
  height: 100%;
}
.cover {
  background: no-repeat center;
  background-size: cover;
  &.radius {
    border-radius: 50%;
  }
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.teacher-wrap {
  padding: rem(20);
  min-height: 100%;
  background: #fff;
  .cover {
    border: rem(5) solid #fff;
  }

  .name {
    font-size: 0;
    margin-top: rem(10);
    .lg {
      color: #000;
      font-size: rem(30);
    }
    .sm {
      font-size: rem(24);
    }
  }
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/bg-red.png") no-repeat center;
    background-size: 100% 100%;
    height: rem(250);
    border-radius: rem(5);
    .cover {
      box-shadow: 0px 3px 5px #fc7c62;
    }
  }
  .teacher-avatar {
    width: rem(160);
  }
}
.teacher-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/bg-yellow.png") no-repeat center;
    background-size: 100% 100%;
    width: 48.6%;
    height: rem(250);
    border-radius: rem(5);
    margin-top: rem(20);
  }
  .teacher-avatar {
    box-shadow: 0px 3px 5px #fcbe8f;
  }
}

.class-dynamic {

}

.col-3 {
  .weui-uploader__box {
    position: relative;
    float: left;
    width: calc(33.33% - 9px);
    margin-right: 9px;
    margin-bottom: 9px;
    background: no-repeat center;
    background-size: cover;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &.weui-uploader__img {
      background-image: url("../images/issue.jpg");
    }
    &.weui-uploader__video {
      background-image: url("../images/issue2.jpg");
    }
  }
  .weui-uploader__file {
    width: calc(33.33% - 9px);
    height: auto;
    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}
.class-dynamic__issue {
  padding: rem(20);
  .weui-uploader {
    padding: rem(30) rem(30);
    padding-bottom: calc(0.78125rem - 3px);
    background: #fff;
    margin-top: rem(20);

    border-radius: 5px;
  }
  .btn-f6775d {
    display: block;
    width: 86.66%;
    margin: rem(40) auto 0;
  }
}

.btn-f6775d {
  background: #f6775d;
  font-size: rem(28);
  line-height: (90/28);
  text-align: center;
  color: #fff;
  border: none;
  border-radius: rem(45);
}
.class-dynamic__controller {
  font-size: rem(30);
  color: #6e6e6e;
  textarea {
    height: rem(210);
    border: 0px;
    border-radius: 5px;
    background: #fff;
    padding: 8px;
  }
}