@import "weui.min";
@import "jquery-weui.min";
@function rem($px) {
  @return ($px /22.08)*(414/750)  * 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0 auto;
}
textarea {
  width: 100%;
  resize: none;
}
input,button {
  outline: 0;
  &:focus {
    outline: 0;
  }
}
button {
  cursor: pointer;
}
ul,ol{
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color:inherit;
  }
  &:focus {
    @extend a:hover;
    outline: none;
  }
}
html {
  background: #f6f6f6;
}
html,body {
  height: 100%;
}
pre{
  white-space: pre-wrap!important;
  word-wrap: break-word!important;
  *white-space:normal!important;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.cover {
  background: no-repeat center;
  background-size: cover;
  &.radius {
    border-radius: 50%;
  }
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
.clearfix:after {
  content:"";
  display: block;
  clear:both;
}
.omit {
  display: inline-block;
  max-width: 100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.teacher-wrap {
  padding: rem(20);
  min-height: 100%;
  background: #fff;
  .cover {
    border: rem(5) solid #fff;
  }

  .name {
    font-size: 0;
    margin-top: rem(10);
    .lg {
      color: #000;
      font-size: rem(30);
    }
    .sm {
      font-size: rem(24);
    }
  }
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/bg-red.png") no-repeat center;
    background-size: 100% 100%;
    height: rem(250);
    border-radius: rem(5);
    .cover {
      box-shadow: 0px 3px 5px #fc7c62;
    }
  }
  .teacher-avatar {
    width: rem(160);
  }
}
.teacher-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/bg-yellow.png") no-repeat center;
    background-size: 100% 100%;
    width: 48.6%;
    height: rem(250);
    border-radius: rem(5);
    margin-top: rem(20);
  }
  .teacher-avatar {
    box-shadow: 0px 3px 5px #fcbe8f;
  }
}

.class-dynamic {
  overflow: hidden;
}
.class-dynamic__list {
  padding-bottom: rem(20);
  overflow: hidden;
}
.dynamic__item {
  position: relative;
  margin-top: rem(20);
  background: #fff;
  padding: rem(30) rem(115) rem(40) rem(140);
  font-size: rem(24);
  overflow: hidden;
  .avatar {
    position: absolute;
    top: rem(30);
    left: rem(30);
    display: block;
    width: rem(90);
  }
  .classes {
    font-size: rem(30);
    color: #616796;
  }
  .desc {
    font-size: rem(28);
    line-height: (48/28);
    margin-top: rem(5);
  }
  .other {
    font-size: rem(22);
    color: #6e6e6e;
  }
  .time {
    float: left;
  }
  .operation {
    float: right;
    .icon-label {
      margin-left: rem(30);
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .like-list {
    border-top: 1px solid #ededed;
    position: relative;
    padding-left: rem(35);
    padding-top: rem(15);
    margin-top: rem(12);
    color: #6e6e6e;
  }
  .icon-label__heart-o {
    position: absolute;
    left: 0;
    top: rem(25);
  }
  .comment-wrap {
    margin-top: rem(15);
    line-height: 1.5;
    li {
      margin-top: rem(10);
    }
  }
}
.comment-controller__wrap {
  font-size: rem(30);
  margin-top: rem(20);
  .comment-controller {
    background: #fcfcfc;
    border: 1px solid #dcdcdc;
    height: rem(54);
    padding: 0 rem(10);
  }
}
.comment-wrap {
  .name {
    color: #616796;
  }
}

.grid__album {
  margin-right: -9px;
  font-size: 0px;
  margin-top: 9px;
  li {
    display: inline-block;
    width: calc(33.333% - 9px);
    margin-right: 9px;
    margin-bottom: 9px;
  }
  .cover {
    display: block;
  }
}
.my-work {
  overflow: hidden;
  .classes-type {
    font-size: rem(18);
    line-height: (24/18);
    border-radius: 3px;
    color: #fff;
    background: #f6775d;
    padding: 0 5px;
  }
  .dynamic__item {
    padding-bottom: rem(30);
  }
  .work-add__btn {
    position: fixed;
    right: 0;
    bottom: 20%;
    display: block;
    width: rem(94);
    background-image: url("../images/work-add.png");
    &:before {
      padding-top: (106/94)*100%;
    }
  }
}

.btn-edit__fixed {
  position: fixed;
  right: 0;
  bottom: 20%;
  display: block;
  width: rem(94);
  background-image: url("../images/work-add.png");
  &:before {
    padding-top: (106/94)*100%;
  }
}

.col-3 {
  .weui-uploader__box {
    position: relative;
    float: left;
    width: calc(33.33% - 9px);
    margin-right: 9px;
    margin-bottom: 9px;
    background: no-repeat center;
    background-size: cover;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &.weui-uploader__img {
      background-image: url("../images/issue.jpg");
    }
    &.weui-uploader__video {
      background-image: url("../images/issue2.jpg");
    }
  }
  .weui-uploader__file {
    width: calc(33.33% - 9px);
    height: auto;
    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}
.class-dynamic__issue {
  padding: rem(20);
  .weui-uploader {
    padding: rem(30) rem(30);
    padding-bottom: calc(0.78125rem - 3px);
    background: #fff;
    margin-top: rem(20);

    border-radius: 5px;
  }
  .btn-f6775d {
    display: block;
    width: 86.66%;
    margin: rem(40) auto 0;
  }
}

.btn-f6775d {
  background: #f6775d;
  font-size: rem(28);
  line-height: (90/28);
  text-align: center;
  color: #fff;
  border: none;
  border-radius: rem(45);
}
.class-dynamic__controller {
  font-size: rem(30);
  color: #6e6e6e;
  textarea {
    height: rem(210);
    border: 0px;
    border-radius: 5px;
    background: #fff;
    padding: 8px;
  }
}
.teacher-panel {
  .desc {
    margin-top: rem(15);
    font-size: rem(28);
    line-height:(48/28);
  }
}
.teacher-info__list {
  background: #fff;
  border-radius: 5px;
  padding: 0 rem(20);
  color: #222222;
  font-size: rem(30);
  margin-top: rem(20);
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(98);
    border-top: 1px solid #f0f0f0;
    &:first-child {
      border-top: 0px;
    }
  }
}
.icon-label {
  display: inline-block;
  width: rem(24);
  background: no-repeat center;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    padding-top: (21/24)*100%;
  }
  &.icon-label__heart {
    background-image: url(../images/icon/heart.png);
    &:before {
      padding-top: (21/24)*100%;
    }
  }
  &.icon-label__heart-red {
    @extend .icon-label__heart;
    background-image: url(../images/icon/heart-red.png);
  }
  &.icon-label__heart-o {
    width: rem(20);
    background-image: url(../images/icon/heart-o.png);
    &:before {
      padding-top: (18/20)*100%;
    }
  }
  &.icon-label__return {
    width: rem(26);
    background-image: url(../images/icon/return.png);
    &:before {
      padding-top: (22/26)*100%;
    }
  }

}

.teacher-info__wrap {
  min-height: 100%;
  padding: rem(20);
  .teacher-panel {
    margin-top: rem(20);
    background: #fff;
    border-radius: 5px;
    padding: rem(20) rem(46);
    .title-label {
      margin: 0 rem(-26);
    }
  }
  .grid__album {
    margin-top: rem(15);
  }
}
.teacher-info__banner {
  position: relative;
  background-image: url("../images/banner_03.png");
  border-radius: 5px;
  &:before {
    padding-top: (300/710)*100%;
  }
}
.teacher-info__avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  width: rem(195);
  margin-left: rem(-195/2);
  margin-top: rem(-195/2);
  border-radius: 50%;
  border: rem(8) solid #fff;
  box-shadow: 0 0 0 3px #f6775d;
}
.title-label {
  position: relative;
  font-size: rem(30);
  color: #222222;
  padding-left: rem(15);
  .line-red {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: rem(-16);
    display: inline-block;
    width: rem(6);
    height: rem(32);
    background: #f6775d;
    vertical-align: middle;
  }
}

.text-616896 {
  color: #616896;
}
.text-222222 {
  color: #222222;
}
.btn-simple {
  font-size: 0.59733rem;
  line-height: 1.92857;
  -moz-border-radius: 1.152rem;
  border-radius: 1.152rem;
  padding: 0 0.64rem;
  margin: 0;
  color: #fff;
  &.btn-green {
    background: #81d64d;
  }
  &.btn-red {
    background: #f98063;
  }
}
i.icon {
  display: inline-block;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  &.i-refuse,&.i-agree {
    width: rem(100);
    background-image: url("../images/icon/i-refuse.png");
    transform: rotate(-25deg);
    &:before {
      padding-top: (55/100)*100%;
    }
  }
  &.i-agree {
    background-image: url("../images/icon/i-agree.png");
  }
}

.list-simple__reply {
  line-height: 1.2;
  padding-top: rem(20);
  .item-wrap {
    background: #fff;
    margin-bottom: rem(20);
    padding: rem(10) rem(30);
  }
  .statu {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
    .weui-btn {
      margin: 0 ;
    }
  }
  .avatar {
    width: rem(120);
    margin-right: rem(15);
  }
  .message {
    font-size: rem(24);
    border-top: 1px solid #dcdcdc;
    line-height: 2;
    color: #6a6a6a;
    padding: rem(10) 0;
  }
  .time {
    font-size: rem(20);
    color: #6e6e6e;
    line-height: 1;
  }
  .weui-cell__ft {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    width: rem(250);
    margin-left: rem(15);
  }
  .weui-btn {
    font-size: rem(28);
    line-height: (54/28);
    border-radius: rem(54);
    padding: 0 rem(30);
  }
  .btn-red {
    background: #f98063;
  }
  .btn-green {
    background: #81d64d;
  }
  .text-616896 {
    font-size: rem(30);
    margin-bottom: rem(15);
  }
  .text-222222 {
    font-size: rem(28);
  }
  .weui-cell {
    align-items: flex-start;
    padding: rem(20) 0 ;
  }
}
.leaveList {
  .text-616896 {
    line-height: 1;
  }
  .time {
    display: flex;
    justify-content: space-between;
  }
  .weui-cell__bd {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
  }
  .text-616896 {
    margin-bottom: rem(10);
  }
  .leave-info {
    display: flex;
    margin-bottom: rem(20);
  }
  .leave-info__l {
    flex: 1;
  }
}

.recipes {
  height: 100%;
  .weui-navbar {
    color: #6e6e6e;
    background: #fff;
    .iconfont {
      margin-right: 5px;
    }
    .weui-bar__item--on {
      position: relative;
      color: #f98063;
      background: #fff;
      &:before {
        content: '';
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        height: 1px;
        background: red;
      }
      &:after {
        display: none;
      }
    }
  }
  .weui-tab__bd .weui-tab__bd-item.weui-tab__bd-item--active {
    display: flex;
    flex-direction: column;
    background: url("../images/recipes-bg.jpg") no-repeat center;
    background-size: cover;
    padding: rem(20);
  }
  #fileBox {
    display: none;
  }
  .recipes-bottom {
    display: flex;
    justify-content: space-between;
    padding: rem(30) 0 rem(60);
  }
  .btn-simple {
    width: 45%;
    line-height: rem(70);
    text-align: center;
  }
}
#recipesImg {
  .weui-tab__bd-item {
    display: flex;
  }
  .uploader__input-box {
    display: flex;
    background: #fff;
    flex: 1;
    border-radius: 3px;
    >.bg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px dashed #f0f0f0;
      flex: 1;
      color: #cccccc;
      font-size: 14px;
      .iconfont {
        font-size: 30px;
      }
    }
  }
}
.recipes-table {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  border: rem(3) solid #6e6e6e;
  .weui-flex {
    display: flex;
    align-items: stretch;
    justify-content: center;
    .weui-flex__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1.56;
      color: #222;
      font-size: rem(30);
      border-right: rem(3) solid #fff;
      background: #fff0ed;
      &:first-child {
        position: relative;
        flex: 1;
        background-size: 100% 100%;
        font-size: rem(28);
        border-right: rem(3) solid #6e6e6e;
        background: #ffb6bf;
        color: #fff;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .tb-head {
    flex: 1;
    .weui-flex__item {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      flex: 1.56;
      font-size: rem(28);
      border-bottom: rem(3) solid #6e6e6e;
      &:first-child {
        position: relative;
        flex: 1;
        background: #fbce8b url("../images/recipes-head.png") no-repeat center;
        background-size: 100% 100%;
        font-size: rem(24);
        >span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60%;
          height: 50%;
        }
        >span:nth-of-type(1){
          position: absolute;
          left: 0px;
          bottom: 0px;
        }
        >span:nth-of-type(2){
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
      &:nth-of-type(2) {
        background: #ffb6bf;
      }
      &:nth-of-type(3) {
        background: #ace8b4;
      }
      &:nth-of-type(4) {
        background: #7ad2fa;
      }
    }
  }
  .tb-body {
    display: flex;
    flex-direction: column;
    line-height: 1.15;
    flex: 7.8;
    .weui-flex {
      flex: 1;
      .weui-flex__item {
        border-top: rem(3) solid #fff;
      }
      &:first-child {
        .weui-flex__item {
          border-top: none;
        }
      }
      &:nth-child(3n-1) {
        .weui-flex__item:first-child {
          background: #ace8b4;
        }
      }
      &:nth-child(3n) {
        .weui-flex__item:first-child {
          background: #7ad2fa;
        }
      }
   }
  }
}

.carInfo {
  padding: rem(20) rem(20) rem(40);
  overflow: hidden;
  .car-statu {
    .btn-full {
      width: rem(180);
      margin-left: rem(37);
      &:first-child {
        margin-left: 0;
      }
      &.active {
        background: #f98063;
        color: #fff;
      }
    }
    .weui-cell__bd {
      display: flex;
      justify-content: flex-end;
    }

  }
}

.student-list__1 {
  display: flex;
  flex-wrap: wrap;
  padding: rem(20) rem(30) rem(10);
  .item {
    display: flex;
    align-items: center;
    width: 33.33%;
    margin-bottom: rem(20);
  }
  .cover {
    position: relative;
    width: rem(85);
    margin-right: rem(10);
    font-size: 0;
    .iconfont {
      display: none;
      position: absolute;
      left: rem(-17);
      top: 0;
      color: #ff3444;
      line-height: 1;
      font-size: rem(34);
      &:before {
        position: relative;
        z-index: 2;
      }
      &:after {
        content: '';
        position: absolute;
        left: 25%;
        top:25%;
        width: 50%;
        height: 50%;
        background: #fff;
      }
    }
  }
  .caption {
    flex: 1;
  }
  .name {
    font-size: rem(24);
    color: #222;
  }
  .class {
    font-size: rem(20);
    color: #6e6e6e;
  }
  &.student-list__edit {
    .cover {
      .iconfont {
        display: block;
      }
    }
  }
}
.btn-full{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dcdcdc;
  border: none;
  color: #6e6e6e;
  padding: 0 rem(20);
  height: rem(70);
  border-radius: rem(37);
  font-size: rem(28);
  &.btn-red {
    background: #f98063;
    color: #fff;
  }
  &.btn-lg {
    height: rem(90);
    border-radius: rem(45);
  }
  &.btn-xs {
    height: rem(54);
    border-radius: rem(27);
  }
}

.none {
  display: none;
}
.cells-simle__wrap {
  padding: rem(20);
}
.cells-simle {
  background: #fff;
  border-radius: 5px;
  margin-bottom: rem(20);
  select {
    direction: rtl;
    option {
      direction: ltr;
    }
  }
  .weui-cell {
    width: 100%;
    min-height: rem(98);
  }
  .cells-simle__hd {
    display: flex;
    align-items: center;
    height: rem(95);
  }
  .cells-simle__bd {
    font-size: rem(30);
  }
  .icon-add {
    font-size: rem(34);
    color: #f98063;
  }
}
.cells-simle__padding {
  padding: rem(30);
}
.text-right {
  text-align: right;
}
.upload-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: rem(210);
  height: rem(210);
  background: #f0f0f0;
  font-size: rem(24);
  color: #ccc;
  .iconfont {
    color: #cfcfcf;
    font-size: rem(70);
  }
}
.notice-info__wrap {
  min-height: 100%;
  padding: rem(20);
  background: url("../images/notice-bg.jpg")
  top;
  background-size: 100% auto;
}
.notice-info {
  padding: rem(20) rem(20) rem(60);
  font-size: rem(32);
  line-height: (50/28);
  .title {
    font-size: rem(40);
    text-align: center;
  }
  .time {
    font-size: rem(20);
    text-align: center;
    color: #6e6e6e;
    .iconfont {
      font-size: rem(22);
      vertical-align: middle;
      color: #f6775d;
      margin-right: 5px;
    }
  }
  p {
    margin-bottom: rem(5);
  }
}

.bind-card {
  .cells-simle__bd {
    padding-right: 15px;
  }
  .iconfont {
    display: inline-block;
    font-size: rem(35);
    //vertical-align: middle;
    margin-right: rem(10);
    color: #e68168;
  }
  .weui-cell:before {
    border-top: 1px solid #e68168;
  }
  >.text-center {
    line-height: 1.2;
    color: #e67e65;
    .iconfont {
      vertical-align: rem(-4);
    }
  }
  .bind-avatar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: rem(320);
    padding: 0 rem(30);
    .iconfont {
      color: #999999;
      font-size: rem(65);
    }
    .cover {
      width: rem(160);
    }
    .card-pic {
      background-image: url("../images/icon/i-card.png");
    }
  }
}
.text-center {
  text-align: center;
}
.chatList {
  .weui-navbar {
    .iconfont {
      margin-right: 15px;
      font-size: 18px;
    }
    .weui-navbar__item {
      padding: 0;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #6e6e6e;
      background: #fff;
      &:after {
        display: none;
      }
    }
    .weui-bar__item--on {
      color: #f98063;
      background: #fff;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 10%;
        width: 80%;
        height: 1px;
        background: #f98063;
      }
    }
  }
  .weui-cell {
    display: flex;
  }
  .avatar {
    position: relative;
    width: 50px;
    border-radius: 3px;
    .weui-badge {
      position: absolute;
      top: -.4em;
      right: -.4em;
    }
  }
}
.chat-list__msg {
  background: #fff;
  .omit {
    font-size: 13px;
    color: #6e6e6e;
  }
  .weui-cell {
    &:before {
      left: 0;
    }
  }
  .weui-cell__bd {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    min-width: 0;
    padding: 5px 8px 4px 10px;
    line-height: 1;
  }
  .weui-cell__ft {
    font-size: 13px;
  }
}

.chat-list__linkman {
  background: #f9f9f9;
  .i-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-size: cover;
    color: #fff;
    .iconfont {
      font-size: 20px;
    }
  }
  .i-green {
    background-image: url(../images/linkman-green.png);
  }
  .i-blue {
    background-image: url(../images/linkman-blue.png);
  }
  .sidebar {
    position: fixed;
    right: 0;
    top: 20%;
    font-size: rem(20);
    li {
      display: block;
    }
    a {
      display: block;
      line-height: (30/20);
      width: 30px;
      text-align: center;
    }
  }
}

.linkman-list__wrap {
  h3 {
    color: #999;
    padding: 5px 15px;
    font-weight: normal;
    font-size: 17px;
  }
}
.linkman-list {
  background: #fff;
  .weui-cell__bd {
    padding: 0 8px 0 10px;
    min-width: 0;
  }
  .weui-cell__ft {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 110px;
    padding-right: 10px;
  }
  .weui-cell {
    &:before {
      left: 75px;
    }
  }
}
.select-number {
  background: #f6f6f6;
  .select-tip {
    line-height: rem(50);
    padding: rem(15) 15px;
    font-size: rem(30);
    color: #f98063;
  }
  .avatar {
    width: rem(90);
    margin-right: rem(15);
  }
  .weui-cell {
    background: #fff;
  }
  .weui-cell__bd {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
  .name {
    font-size: rem(30);
    color: #222;
  }
  .number {
    font-size: rem(24);
    color: #676767;
  }
}
.user-center {
  .weui-tab__bd {
    padding-bottom: rem(100);
  }
  .value-added {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 10px;
  }
}
.value-added__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(28);
  line-height: 2;

  .cover {
    width: rem(90);
  }
  @for $i from 1 through 4 {
    .value-added_#{$i}{
      background-image: url("../../assets/images/value-added_#{$i}.png");
    }
  }
  $value-added: #6db1dc #96cca4 #f4b1cf #fa9576;
  @each $item in $value-added {
    &:nth-child(#{index($value-added,$item)}){
      color: $item;
    }
  }


}
.basic-services {
  display: flex;
  flex-wrap: wrap;
  padding: 0 rem(8);
  .basic-services__item {
    width: 33.333%;
  }
}
.basic-services__item {
  display: block;
  padding: 0 rem(8);
  margin-bottom: rem(15);
  .cover:before {
    padding-top: (150/228)*100%;
    background-size: 100% 100%;
  }
  @for $i from 1 through 16 {
    &.basic-services__item#{$i}{
      .cover {
        background-image: url("../../assets/images/basic-services_#{$i}.png");
      }

    }
  }
}
.user-center__banner {
  position: relative;
  .swiper-slide:before {
    padding-top: (360/750)*100%;
  }
  .swiper-pagination  {
    text-align: right;
  }
  .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  .ranking {
    position: absolute;
    bottom: rem(20);
    z-index: 2;
    padding: 0 rem(25);
    line-height: (56/24);
    background: rgba(#000,.6);
    color: #fff;
    font-size: rem(24);
    border-top-right-radius: rem(28);
    border-bottom-right-radius: rem(28);
    img {
      width: rem(30);
      vertical-align: rem(-5);
    }
    span {
      padding: 0 rem(15);
    }
  }
}
.user-tabbar {
  height: rem(100);
  .weui-tabbar__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-top: 0;
  }
  .weui-tabbar__icon {
    width: rem(50);
    height: rem(50);
    background: no-repeat center;
    background-size: cover;
  }
  $userTabbar: work dy home dic talk;
  @each $item in $userTabbar {
    .i-#{$item} {
      background-image: url("../images/icon/user-#{$item}.png");
    }
    .weui-bar__item--on {
      .i-#{$item} {
        background-image: url("../images/icon/user-#{$item}_click.png");
      }
    }
  }
  .weui-tabbar__label {
    color: #dcdcdc;
    font-size: rem(20);
    line-height: 1.5;
  }
  .weui-bar__item--on {
    .weui-tabbar__label {
      color: #f76856;
    }
  }

}


@import "icon.scss";
@import "chat.scss";









